.main(layout='row')
  .grid-content
    div.grid-container(layout='column')
      form.md-whiteframe-z1(ng-submit='mc.save()', name='form', novalidate='', layout-padding='')
        md-input-container
          input.post(ng-model='mc.newpost', placeholder="What's on your mind?")
        input.md-button(type='submit', value='Add')


      form.md-whiteframe-z1(ng-submit='mc.addComment($index, post._id)', name='mc.post{{$index}}', novalidate='', layout-padding='' ng-repeat='post in mc.posts').md-whiteframe-z1
          p {{ post.thingInMind }}
          p(ng-repeat="reply in post.reply") {{reply.message}}
          md-input-container          
            input(type="text", ng-model="mc['reply'+$index]", placeholder="Reply Something")
          input.md-button(type='submit', value='Add')      